<div class="open-accessibility-cursor-workaround"></div>
<div class="open-accessibility open-accessibility-collapsed">
  <div class="open-accessibility-container">
    <div class="open-accessibility-expand-button">
      @@include('../svgs/expand.svg')
      <!-- <span data-lang="expand"></span> -->
    </div>

    <div class="open-accessibility-menu">
      <div class="open-accessibility-close-button">
        @@include('../svgs/close.svg')
        <!-- <span data-lang="close"></span> -->
      </div>

      <div
        class="open-accessibility-menu-button open-accessibility-zoom-in-button"
        id="zoom-in-button"
      >
        @@include('../svgs/zoom-in.svg')
        <span data-lang="zoom-in">הגדלת גופן</span>
      </div>

      <div
        class="open-accessibility-menu-button open-accessibility-zoom-out-button"
        id="zoom-out-button"
      >
        @@include('../svgs/zoom-out.svg')
        <span data-lang="zoom-out">הקטנת גופן</span>
      </div>

      <div
        class="open-accessibility-menu-button open-accessibility-invert-button"
        id="invert-button"
      >
        @@include('../svgs/invert.svg')
        <span data-lang="invert">היפוך צבעים</span>
      </div>

      <div
        class="open-accessibility-menu-button open-accessibility-cursor-button"
        id="cursor-button"
      >
        @@include('../svgs/cursor.svg')
        <span data-lang="bigger-cursor">הגדלת סמן</span>
      </div>

      <div
        class="open-accessibility-menu-button open-accessibility-brightness-button"
        id="brightness-button"
      >
        @@include('../svgs/brightness.svg')
        <span data-lang="brightness">בהירות</span>
      </div>

      <div
        class="open-accessibility-menu-button open-accessibility-contrast-button"
      >
        @@include('../svgs/contrast.svg')
        <span data-lang="contrast">ניגודיות</span>
      </div>

      <div
        class="open-accessibility-menu-button open-accessibility-monochrome-button"
        id="monochrome-button"
      >
        @@include('../svgs/monochrome.svg')
        <span data-lang="monochrome">גווני אפור</span>
      </div>

      <div
        class="open-accessibility-menu-button open-accessibility-links-button"
        id="links-button"
      >
        @@include('../svgs/link.svg')
        <span data-lang="links-highlight">הדגשת לינקים</span>
      </div>
      <div
        class="open-accessibility-menu-button open-accessibility-animation-button"
      >
        @@include('../svgs/pause.svg')
        <span data-lang="animation-stop">עצירת אנימציות</span>
      </div>

      <div
        class="open-accessibility-menu-button open-accessibility-reset-button"
      >
        @@include('../svgs/revert.svg')
        <span data-lang="reset">בטל שינויים</span>
      </div>

      <div class="open-accessibility-menu-footer">
        <!-- <div class="open-accessibility-menu-footer-img"> -->
        <a href="https://pina.co.il" target="_blank">
          <!-- <img src="./src/svgs/footerpina.svg" alt="Pina Logo" /> -->
          <!-- <img src="./src/svgs/footerpina.svg" alt="Pina Logo" width="238" /> -->

          @@include('../svgs/footerpina1.svg')
        </a>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
