:root {
  --main-color: #114761;
}
.pageImages {
  border: 1px solid red;
}
.open-accessibility-close-button {
  fill: var(--main-color);
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px !important;
  &:hover {
    background-color: var(--main-color);
    color: #fff;
    fill: #fff;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 1.5px 1px var(--main-color);
    border-radius: 5px;
  }
}
.open-accessibility-expand-button {
  fill: #fff;
  cursor: pointer;
  position: absolute;
  line-height: 60px;
  width: 40px;
  height: 40px;
  text-align: center;
  // color: #fff;
  svg {
    width: 24px;
    height: 40px;
  }
}

#lbexpand {
  &:hover {
    transform: scale(1, 1) translate3d(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.145098) 0px 0px 4.72988px 0px,
      rgba(0, 0, 0, 0.294118) 0px 4.72988px 9.45976px 0px;
  }
  &:focus {
    outline: 3px dashed var(--main-color);
    border-radius: 5px;
  }
}

.open-accessibility {
  z-index: 9999;
  user-select: none;
  zoom: 1 !important;
}
.open-accessibility.open-accessibility-size-s.open-accessibility-collapsed {
  .open-accessibility-container {
    width: 40px;
    height: 40px;
    .open-accessibility-expand-button {
      line-height: 60px;
      width: 40px;
      height: 40px;
      svg {
        width: 24px;
        height: 40px;
      }
    }
  }
}

.open-accessibility-container {
  overflow: hidden;
  box-sizing: border-box;
}

.open-accessibility.open-accessibility-expanded {
  .open-accessibility-container {
    display: flex;
    position: fixed;
    top: 80px;
    width: 256px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #fff;
    transform: scale(1, 1) translate3d(0, 0, 0);
  }
}
.open-accessibility.open-accessibility-collapsed {
  .open-accessibility-container {
    width: 80px;
    height: 80px;
    font-size: 16px !important;
    right: 0;
  }
}

.fill {
  position: relative;
  height: 40px;
  width: 40px;
  z-index: 999;
}

.open-accessibility-menu {
  width: 256px;
}

.open-accessibility-top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 29px !important;
  font-size: 16px !important;
  margin: 3px;
}

#lang-sel {
  border: none;
  cursor: pointer;
  font-family: assistant;
  font-size: 14px;
  color: var(--main-color);
  font-weight: bold;
  padding: 0;
  &:focus {
    outline: none;
    box-shadow: 0 0 1.5px 1px var(--main-color);
    border-radius: 5px;
  }
  & option {
    color: var(--main-color);
  }
}

.open-accessibility-menu-buttons {
  overflow-y: auto;
  scrollbar-face-color: ThreeDFace !important;
  padding-top: 1px;
}

.open-accessibility-menu-buttons::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.open-accessibility-menu-buttons::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.open-accessibility-menu-buttons::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--main-color);
}

.low-res-screen {
  height: 376px;
  width: 262px;
}

.low-res-screen::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.low-res-screen::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.low-res-screen::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--main-color);
}
.open-accessibility-menu-button {
  position: fixed;
  fill: var(--main-color);
  color: var(--main-color);
  float: right;
  box-sizing: border-box;
  width: 120px;
  height: 90px !important;
  cursor: pointer;
  transition: background-color 0.1s;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: assistant;
  border-radius: 14px;
  margin: 0px 4px 4px 4px;
  &:hover {
    background-color: var(--main-color);
    fill: #fff;
    color: #fff;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 1.5px 1px var(--main-color);
  }
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    bottom: 5px;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
  }
  & svg {
    width: 80%;
  }
}

.button-pressed {
  background-color: var(--main-color);
  color: #fff !important;
  fill: #fff !important;
}

.disabled-button {
  fill: lightgray !important;
  color: lightgray !important;
  stroke: lightgray !important;
}

.button-indicator {
  visibility: visible !important;
  width: 25px !important;
  // width: 1rem !important;
  height: 18px !important;
  color: #fff;
  font-size: 9px;
  font-weight: bold;
  background-color: var(--main-color);
  padding: 2px 6px 0 6px !important;
  border-radius: 8px;
  margin: 5px;
}

.first-line {
  display: flex;
  flex-direction: row;
  height: 50px;
}
.hidden-indicator {
  visibility: hidden;
  display: flex;
  justify-content: center;
  width: 35px;
  padding: 5px 5px 0 0;
}

.button-icon {
  display: flex;
  align-items: flex-start;
  width: 90px;
  padding-top: 5px;
}

.open-accessibility-font-zoom {
  transition: zoom 0.3s ease-in-out;
}

.open-accessibility-cursor {
  cursor: url("images/big-cursor.png"), default;

  & .slider,
  .round,
  .on,
  .off,
  #lang-sel,
  .fill,
  #lbexpand,
  a,
  button,
  a:link,
  a:link img #pina-container,
  a:hover,
  a svg,
  a img,
  a i,
  .open-accessibility-menu-button,
  #revert-button {
    cursor: url("images/big-pointer.png"), auto !important;
  }
}

.open-accessibility-cursor-workaround {
  pointer-events: none;
  position: absolute;
  width: 38px;
  height: 60px;
  z-index: 1000;
  background-image: url("images/cursor.png");
}

.dc {
  background: #000 !important;
  color: #fff !important;
  fill: #fff;
  & a {
    color: yellow;
  }
}
.dc-button {
  color: #fff;
  fill: #fff;
}

.lc {
  background: #fff !important;
  color: #000 !important;
}

.highlight-links {
  background-color: #114761 !important;
  color: yellow !important;
  // text-decoration: underline !important;
  border: 3px dashed yellow !important;
  border-radius: 4px;
  padding: 3px;
  line-height: auto;
  &:hover {
    font-weight: bold;
  }
}

.open-accessibility-highlighted-links {
  .highlighted-link {
    text-decoration: underline !important;
  }
  a {
    text-decoration: underline !important;
    &:link {
      text-decoration: underline !important;
    }
    &:visited {
      text-decoration: underline !important;
    }
    &:hover {
      text-decoration: underline !important;
    }
    &:active {
      text-decoration: underline !important;
    }
  }
}

.paused {
  -webkit-animation-play-state: paused !important;
  -moz-animation-play-state: paused !important;
  -o-animation-play-state: paused !important;
  animation-play-state: paused !important;
  // -webkit-transition: none !important;
  // -moz-transition: none !important;
  // -o-transition: none !important;
  // transition: none !important;
  // -o-transform: none !important;
  // -moz-transform: none !important;
  // -ms-transform: none !important;
  // -webkit-transform: none !important;
  // transform: none !important;
  // -webkit-animation: none !important;
  // -moz-animation: none !important;
  // -o-animation: none !important;
  // -ms-animation: none !important;
  // animation: none !important;
}

.hide-images {
  opacity: 0;
  visibility: hidden !important;
  background-image: none !important;
  // background: url() !important;
  // background-image: url() !important;
  iframe {
    visibility: hidden !important;
  }
}

.bottom-links {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  // float: right;
  width: 100%;
  margin-bottom: 3px;
}

.open-accessibility-menu-disclaimer {
  float: right;
  width: 120px;
  // margin-right: 66px;
  // height: 18px !important;
  text-align: center;
  background-color: var(--main-color);
  color: #fff;
  padding: 5px 0 8px 0;
  font-family: assistant;
  // margin-bottom: 3px;
  border-radius: 14px;
  & a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    &:focus {
      border-radius: 5px;
      padding: 0 5px;
    }
    &:hover {
      font-size: 16px;
      text-decoration: underline;
    }
  }
}
.open-accessibility-menu-version {
  color: var(--main-color);
  font-size: 10px;
}

.open-accessibility-menu-footer {
  float: right;
  box-sizing: border-box;
  // transition: background-color 0.1s;
  direction: ltr;
  width: 100%;
  height: 42px !important;
  // &:hover {
  //   opacity: 0.7;
  // }
}

#open-accessibility-footer-logo {
  // background-color: var(--main-color);
  & svg {
    height: 100%;
    width: 100%;
  }
}

.empties {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0px;
  z-index: 9999999;
}

.empty {
  display: inline-block;
  height: 40px !important;
  width: 0;
  background: transparent;
}

.hold {
  border: solid #ccc 4px;
}

.hovered {
  border: 2px dashed var(--main-color);
}

.invisible {
  display: none;
}

#pina-main {
  z-index: 999;
}

.open-accessibility-expanded #pina-container {
  box-shadow: rgba(0, 0, 0, 0.575) 0px 0px 4px 0px,
    rgba(0, 0, 0, 0.278431) 0px 4px 8px 0px;
}

#oals {
  height: 20px;
}

// Language switch
#side-switch {
  display: flex;
  height: 20px;
}

.l-switch {
  position: relative;
  display: inline-block;
  width: 77px;
  height: 20px;
  &:focus {
    outline: none;
    box-shadow: 0 0 1.5px 1px var(--main-color);
    border-radius: 5px;
  }
}

.l-switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background-color: #fff;
  border: 1px solid var(--main-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  top: 0.5px;
  left: 2px;
  bottom: 2px;
  background-color: var(--main-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #fff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  padding-top: 1px;
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

.on {
  display: none;
}

.on,
.off {
  color: var(--main-color);
  font-family: assistant;
  font-size: 14px;
  margin-top: 1px;
  font-weight: bold;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 7px;
  // top: 45%;
  left: 50%;
}

input:checked + .slider .on {
  display: block;
}

input:checked + .slider .off {
  display: none;
}

.slider.round {
  border-radius: 5px;
}

.slider.round:before {
  padding-top: 1px;
  border-radius: 5px;
}

// ===========================

/* @media screen and (max-width: 780px) {
	 $horizontal-width: 25%;
	 $horizontal-height: 10%;
	 $vertical-width: 25%;
	 $vertical-height: 25%;
	 $close-button-height: 32px;
	 //0 $toggle-button-width:50px;
	 $toggle-button-hight:55px;
	 $toggle-button-icon:60px;
	 $offset: 0px;
	 $z-index: 10;
	 $menu-width: 100%;
	 //100 $menu-height: 10%;
	 //10 .open-accessibility {
		 right: $offset;
		 top: $offset;
		 .open-accessibility-menu {
			 height: $horizontal-height;
			 width: $menu-width;
		}
		 $close-button-height: 32px;
		 //0 &.open-accessibility-expanded {
			 .open-accessibility-container {
				 height: $horizontal-height;
				 width: $menu-width;
			}
		}
		 &-menu {
			 $menu-button-width: 110px;
			 &-button {
				 width: $horizontal-width;
				 height: $horizontal-height;
			}
			 &-footer {
				 display: none !important;
			}
		}
		 &-close-button {
			 height: $close-button-height;
		}
		 &-expand-button {
			 cursor: pointer;
			 position: absolute;
			 line-height: $toggle-button-size;
			 width: $toggle-button-width;
			 height: $toggle-button-icon;
			 text-align: center;
			 svg {
				 fill: #fff;
				 width: 35px;
				 height: $toggle-button-icon;
				 line-height: $toggle-button-size;
			}
		}
		 &.open-accessibility-expanded {
			 position: static;
		}
		 &.open-accessibility-collapsed {
			 .open-accessibility-container {
				 width: $toggle-button-width;
				 height: $toggle-button-hight;
				 border-radius: 50% 0% 0% 50%;
				 color: #fff;
				 background-color: $background-color;
			}
		}
	}
}
 */
.bigger-cursor {
  cursor: url(./svgs/cursor.svg);
}

#prefollower {
  position: absolute;
  display: block;
  width: 100%;
  /* z-index: 999; */
  left: 0;
  top: 0;
}
#follower {
  /* position: absolute;
  display: block;
  width: 100%; */
  /* z-index: 999; */
}
#parafollower {
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  /* z-index: 999; */
}

.readable-font {
  font-family: Arial, Helvetica, sans-serif !important;
}

.heading-highlight {
  outline: 2px solid #114761;
  outline-offset: 2px !important;
}
